.app {
  font-family: 'Source Sans Pro', serif;
}

.background {
  color: gray;
}

.task-group {
  display: grid;
  grid-template-columns: 50% 50%;
}

.task-group-overview {
  cursor: pointer;
  grid-column-start: 1;
}

.task-group-list {
  grid-column-start: 2;
}
